Repository canopy-network/canopy, pull requests merged in 2025-04, with the labels that each got.

#143 Partition DB Design
  cmd/cli/main.go
  controller/block.go
  lib/crypto/hash.go
  lib/error.go
  lib/store.go
  lib/util.go
  store/error.go
  store/fuzz_test.go
  store/indexer.go
  store/smt_test.go
  store/store.go
  store/store_test.go
  store/txn.go
  store/txn_test.go
  store/wrapper_txn.go
  store/wrapper_txn_test.go
Labels: High Priority, Store

#155 Issue #154
  bft/bft.go
  cmd/cli/main.go
  cmd/rpc/admin_handlers.go
  cmd/rpc/query_handlers.go
  cmd/rpc/routes.go
  cmd/rpc/server.go
  cmd/rpc/sock.go
  cmd/rpc/web/explorer/pages/index.js
  controller/block.go
  controller/consensus.go
  controller/controller.go
  controller/result.go
  fsm/state.go
  fsm/validator.pb.go
  go.mod
  go.sum
  lib/.proto/consensus.proto
  lib/config.go
  lib/consensus.go
  lib/consensus.pb.go
  lib/error.go
Labels: High Priority, Controller

#149 Issue #131 - Node Sync Optimization
  controller/consensus.go
Labels: Medium Priority, BFT
